section {
  padding: 20px 0px;
  .container {
    .company {
      font-size: 28px;
      font-weight: 600;
    }

    .title-size {
      font-size: 22px;
      font-weight: 500;
    }

    .icon-imgs {
      height: 24px;
      width: 24px;
    }

    .input-box {
      border-radius: 0;
    }
  }
}
