<section>
    <div class="container">
        <div class="text-center m-5 text-white company">COMPANY</div>
        <div class="d-flex">
            <div class="col-md-3 text-center">
                <div class="text-white mb-3 title-size">LOGO</div>
                <div>
                    <a href="www.facebook.com" class="p-1">
                        <img src="../../../assets/images/facebook.svg" class="img-fluid icon-imgs" />
                    </a>
                    <a href="www.facebook.com" class="p-1">
                        <img src="../../../assets/images/facebook.svg" class="img-fluid icon-imgs" />
                    </a>
                    <a href="www.facebook.com" class="p-1">
                        <img src="../../../assets/images/facebook.svg" class="img-fluid icon-imgs" />
                    </a>
                    <a href="www.facebook.com" class="p-1">
                        <img src="../../../assets/images/facebook.svg" class="img-fluid icon-imgs" />
                    </a>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="text-white mb-3 title-size">LINKS</div>
                <div>
                    <a href="#" class="text-decoration-none">Link 1</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Link 2</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Link 3</a>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="text-white mb-3 title-size">LINKS</div>
                <div>
                    <a href="#" class="text-decoration-none">Link 1</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Link 2</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none">Link 3</a>
                </div>
            </div>
            <div class="col-md-3 text-center flex-row">
                <div class="text-white mb-3 title-size">MAIL</div>
                <form>
                    <input type="email" placeholder="Email-ID" class="form-control input-box shadow-none" required />
                    <button class="btn btn-outline-primary w-100 mt-2 shadow-none" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>