<div class="container">
    <div>
        <p class="text-white">USERS</p>
        <p>
            <button type="button" class="btn btn-outline-primary shadow-none" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Toggle
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card toggle-box">
                <div class="card-body">
                    You can collapse this card by clicking Toggle
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let user of users">
            <div>
                <div class="card my-5 user-card">
                    <img src="{{user.avatar}}" class="card-img-top img-fluid user-img" alt="User-image">
                    <div class="card-body">
                        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                        <p class="card-text mb-0">User-ID : {{user.id}}</p>
                        <p class="card-text mb-0">Email : {{user.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>