<div class="container">
    <div class="row align-items-center login-wrapper">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/images/login-screen.svg" class="img-fluid" width="400" height="400"
                    alt="Login screen image" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <form *ngIf="!isloggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
                    autocomplete="off">
                    <div class="form-group row my-2">
                        <label for="inputEmail3" class="col-sm-4 col-form-label text-white">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control input-box text-white" id="inputEmail3" name="email"
                                [(ngModel)]="form.email" required #email="ngModel" />
                            <div class="error-msg" role="alert" *ngIf="email.errors && f.submitted">E-mail is
                                required
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="inputPassword3" class="col-sm-4 col-form-label text-white">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control input-box text-white" id="inputPassword3"
                                name="password" [(ngModel)]="form.password" required #password="ngModel" />
                            <div class="error-msg" role="alert" *ngIf="password.errors && f.submitted">
                                <div *ngIf="password.errors['required']">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary my-3 w-100 shadow-none">LOGIN
                    </button>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-outline-primary my-3 shadow-none"
                                routerLink="/register">REGISTER
                            </button>
                        </div>
                        <div class="align-self-center">
                            <a href="#" class="text-white text-decoration-none">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>